<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631212712112-8si9hk62t166vqaeis8l2npeus9d27li.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631212712112-8si9hk62t166vqaeis8l2npeus9d27li</string>
	<key>API_KEY</key>
	<string>AIzaSyA8Dw5UVQjbD4zbLe6HQyCaKsc_v41AcbE</string>
	<key>GCM_SENDER_ID</key>
	<string>631212712112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-app-9dec9</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-9dec9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631212712112:ios:610744532ed1c3eb5e1b75</string>
</dict>
</plist>